APP_ENV=dev
DB_HOST=postgres
DB_PORT=5432
DB_NAME=crypto_mvp
DB_USER=crypto_user
DB_PASSWORD=crypto_pass

API_HOST=0.0.0.0
API_PORT=8010

BOT_TOKEN=replace_with_telegram_bot_token
WEBAPP_URL=http://localhost:8010/webapp/
SITE_URL=http://localhost:8010/site/
SITE_AUTH_SECRET=
SITE_TOKEN_TTL_DAYS=30
WEBAPP_DEV_MODE=false
DEV_TELEGRAM_USER_ID=1
BOT_MARKET_SYNC_INTERVAL_SECONDS=120

COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
COINGECKO_TIMEOUT_SECONDS=15

PROXY_HOST=
PROXY_PORT=
PROXY_USERNAME=
PROXY_PASSWORD=
PROXY_FALLBACKS=
